@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Configuração <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/Invoice/Index">Faturação</a></li>
                </ul>
            </li>
            <li>
                <a asp-page="/Account/Manage/Index" title="Manage">Olá @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <form class="form-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </form>
            </li>
        </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-page="/Account/Login">Log in</a></li>
    </ul>
}
